{% extends 'base/sidebar.html' %}

{% block content %}

<style>
.box-shadow{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}
.form-control{
    padding: 1%;
}
</style>

<div class="row box-shadow" style="margin: 2% 7% 4% 7%; padding: 1%;">
    <div class="col">
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb" style="margin: 0px;">
                <li class="breadcrumb-item"><a href="/products" style="text-decoration: none;">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Products</li>
            </ol>
        </nav>
    </div>
</div>


<div class="row " style="margin: 3% 4% 3% 4%; color: black;">
    <div class="col-sm-10 offset-sm-1 box-shadow" style="border-radius: 12px; font-size: 16px;">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row" style="margin-top:1%; padding-left: 2%; padding-right: 2%;">
                <div class="col" style="text-align: center;">
                    <h4 style="color:rgb(59, 162, 247);">Add Product</h4>
                </div>
            </div>
            <div class="row" style="margin-top: 4%; padding-left: 2%; padding-right: 2%;">
                <div class="col-sm-4">
                    <div><label for="name">Name</label></div>
                    <div><input type="text" class="form-control" name="name" id="name" required></div>
                </div>
                <div class="col-sm-4">
                    <div><label for="brand">Brand</label></div>
                    <div>
                    <select  name="brand" class="form-control" id="brand" style="width: 100%;">
                        <option disabled selected>----------</option>
                        {% for brand in brands %}
                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="col-sm-4" >
                    <div><label for="category">Category</label></div>
                    <div>
                    <select  name="category" class="form-control" id="category" style="width: 100%;">
                        <option disabled selected>----------</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:1%; padding-left: 2%; padding-right: 2%;">
                <div class="col-sm-4">
                    <div><label for="description">Description</label></div>
                    <div><textarea class="form-control" name="description" id="description" rows="3" required>{{ description }}</textarea></div>
                </div>
                <div class="col-sm-4" style="margin-top: 3%;">
                    <div class="row">
                        <div class="col">
                            <label for="image" style="color: black;">Image</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="file" class="form-control" name="image" id="image" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 offset-sm-1" style="padding-top: 2%; margin-top: 4%;">
                    <input type="checkbox" class="form-check-input" name="is_active" id="is_active">
                    <label class="form-check-label" for="is_active" style="color: black; padding-left: 1%;">Is Active</label>
                </div>
            </div>
            <div class="row" style="margin-top:4%; margin-bottom: 2%;">
                <div class="col" style="text-align: center;">
                    <button type="submit" class="btn btn-primary" style="padding: 4px 8px 4px 8px;">Add Product</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}