{% extends 'base/sidebar.html' %}

{% block content %}

<style>
.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}
.form-control{
    padding: 1%;
}
</style>

<div class="row box-shadow" style="margin: 2% 7% 4% 7%; padding: 1%; background-color: aliceblue;">
    <div class="col-sm-7">
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb" style="margin: 0px;">
                <li class="breadcrumb-item"><a href="/products/categories" style="text-decoration: none;">Categories</a></li>
                <li class="breadcrumb-item active" aria-current="page">UpdateCategory</li>
            </ol>
        </nav>
    </div>
    <div class="col-sm-5" style="text-align: right;">
        <a href="/products/categories/add"><button type="button" class="btn btn-primary">Add Category</button></a>
    </div>
</div>

<div class="row " style="margin-top: 2%; color: black;">
    <div class="col-sm-10 offset-sm-1 box-shadow" style="border-radius: 12px; background-color: aliceblue;">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row" style="margin-top:1%; padding-left: 2%; padding-right: 2%;">
                <div class="col" style="text-align: center;">
                    <h4 style="color: green;">Update Category</h4>
                </div>
            </div>
            <div class="row" style=" padding-left: 2%; padding-right: 2%;">
                <div class="col-sm-4">
                    <div><label for="name">Name</label></div>
                    <div><input type="text" class="form-control" name="name" id="name" value="{{ name }}" required></div>
                </div>
                <div class="col-sm-3" style="text-align: right; padding-top: 2%;">
                    <label for="image" style="color: black;">Image</label>
                </div>
                <div class="col-sm-5" style="padding-top: 2%;" >
                    <input type="file" class="form-control" name="image" id="image" required>
                </div>
            </div>
            <div class="row" style="margin-top:2%; margin-bottom: 2%;">
                <div class="col" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}