{% extends 'base/sidebar.html' %}

{% block content %}
<style>
.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    background-color: aliceblue;
    margin: 1% 2% 1% 1%;
}

.table-success {
    --bs-table-bg: #ffffff;
    --bs-table-striped-bg: #ededed;
}
.rowclass{
  margin-left: 5%;
  margin-right: 5%;
}

td{
  vertical-align: middle;
}

</style>


<div class="row p-3 box-shadow rowclass" style="margin-top: 3%;">
  <div class="col-sm-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="margin: 0px; padding-top: 4px;">
        <a href="/cart/orders" style="text-decoration: none;">
          <li class="breadcrumb-item active" aria-current="page">Orders</li>
        </a>
      </ol>
    </nav>
  </div>
  
  <div class="col-sm-4" style="text-align: center;">
      <form class="d-flex" action="" method="get" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
      </form>
  </div>
</div>

<div class="row p-3 box-shadow rowclass" style="margin-top: 3%; font-size: 15px;" >
  <div class="col">
    <table class="table table-success table-striped" >
        <thead class="thead-light" >
          <tr >
            <th scope="col">S.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for order in page_obj %}
          <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ order.order.user.first_name }} {{ order.order.user.last_name}}</td>
            <td>{{ order.order.payment_status }}</td>
            <td>Rs. {{ order.price }}</td>
            <td>{{ order.order.status }} <a href="/cart/order/status?order_id={{ order.order.id }}" >
                <i class='bx bx-edit-alt' title="Update Status"></i>
              </a></td>
            <td>
                <a href="/cart/order/items?order_id={{ order.order.id }}" >
                  <i class='bx bx-detail' title="Check Order Items"></i>
                </a>
            </td>
          </tr>
            {% endfor%}
        </tbody>
    </table>
  </div>   
</div>

<div class="row" style="margin-top: 3%; margin-bottom: 3%;">
  <div class="col-sm-4 offset-sm-5" style="text-align: center;">
    <nav aria-label="Page navigation example">
      <ul class="pagination" style="margin: 0%; font-weight: 500;">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>


{% endblock %}