{% extends 'base/sidebar.html' %}

{% block content %}

<style>
    .box-shadow{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 12px;
        background-color: aliceblue;
        margin: 1% 2% 1% 1%;
    }
    .rowclass{
      margin-left: 5%;
      margin-right: 5%;
    }
    .properties{
        margin-bottom: 0;
    }
    .removeItem:hover{
        cursor: pointer;
    }
</style>


<div class="row p-3 box-shadow rowclass" style="margin-top: 3%;" >
    <div class="col-sm-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin: 0px; padding-top: 4px;">
          <a href="/products/brands" style="text-decoration: none;">
            <li class="breadcrumb-item active" aria-current="page" >My Cart </li>
          </a>
        </ol>
      </nav>
    </div>
</div>

<div class="row p-3 box-shadow rowclass" style="margin-top: 3%;" >
    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
    
            <div class="row" style="text-align: center;">
                <h4>Cart Items</h4>
            </div>
            
            {% for item in items %}
            <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <a href="/products/{{ item.item.product_variant.product.id }}/details/{{ item.item.product_variant.id }}?user_id={{ user.id }}">
                        <img
                            src="{{ item.item.product_variant.image.url }}" style="height: 120px; width: 120px; object-fit: contain;" alt="Cotton T-shirt" >
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                    <p class="lead fw-normal mb-2 properties">
                        {{ item.item.product_variant.product.name }}
                    </p>
                    {% for property in properties  %}
                    {% if property.product_variant.id == item.item.product_variant.id %}
                    <p class="properties">
                        <span class="text-muted">{{ property.property.name }} </span>{{ property.value}}
                    </p>
                    {% endif %}
                    {% endfor %}
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 d-flex">

                        <button class="btn btn-link px-2 change-quantity"
                            onclick="decrease('{{ forloop.counter }}')">
                            <i class="fas fa-minus"></i>
                        </button>
        
                        <input id="form{{ forloop.counter }}" min="0" name="quantity" value="{{ item.item.quantity }}" onchange="updateCartItem(this.value,'{{ item.item.id }}','{{ user.id }}')" type="number"
                            class="form-control form-control-sm" />
        
                        <button class="btn btn-link px-2 change-quantity"
                            onclick="increase('{{ forloop.counter }}')">
                            <i class="fas fa-plus"></i>
                        </button>

                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 ">
                    <h6 class="mb-0">Rs. {{ item.total_price }}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <p>
                        <i class="bi bi-trash removeItem" onclick="removeItem('{{ user.id }}','{{ item.item.id }}')" style="font-size: 22px; color: green;" title="remove from cart"></i>
                    </p>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
    
            <div class="card mb-4">
                <div class="card-body p-4 d-flex flex-row">
                <div class="form-outline flex-fill">
                    <input type="text" id="form1" class="form-control form-control-lg" placeholder="Discount Code" />
                </div>
                <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                <a href="/cart/users/{{ user.id }}/checkout">
                    <button type="button" class="btn btn-warning btn-block btn-lg" style="width: -webkit-fill-available;">Checkout</button>
                </a>
                </div>
            </div>
    
            </div>
        </div>
        </div>
    </section>
</div>
<p type = "text" id="csrf" style="display: none;">{% csrf_token %}</p>

<script>

    function removeItem(user_id,cart_item_id){
        console.log(user_id,cart_item_id)
        Swal.fire({
            title: 'Do you want to remove this item from Cart ?',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: 'Yes',
        }).then((result) => {
                if (result.isConfirmed) {
                    csrf_element = document.getElementsByName('csrfmiddlewaretoken')[0].value
                    const url = `http://127.0.0.1:8000/cart/users/${user_id}/cart/delete/${cart_item_id}`;

                    fetch(url, {
                        method : 'DELETE',
                        headers : {
                            'Content-Type' : 'application/json',
                            "X-CSRFToken": csrf_element
                            },
                        }).then(response => {
                        console.log(response)
                        if(response.ok){
                            Swal.fire('Item Removed :)', '', 'success').then(() => {
                                location.reload()
                            })
                        }
                        else{
                            console.log('errors')
                        }
                        }).catch(error => {
                        console.log(error)
                        })
                } 
                })
    }

    function updateCartItem(quantity,item_id,user_id){
                    console.log(quantity,item_id,user_id)

                    csrf_element = document.getElementsByName('csrfmiddlewaretoken')[0].value
                    const url = `http://127.0.0.1:8000/cart/users/${user_id}/cart/update/`;
                    const data = {
                    "item_id" : item_id,
                    "quantity" : quantity,
                    }

                    fetch(url, {
                    method : 'PUT',
                    headers : {
                        'Content-Type' : 'application/json',
                        "X-CSRFToken": csrf_element
                        },
                    body : JSON.stringify(data)
                    }).then(response => {
                    console.log(response)
                    if(response.ok){
                        location.reload()
                    }
                    else{
                        console.log('errors')
                    }
                    }).catch(error => {
                    console.log(error)
                    })
                }

function decrease(counter){

    input = document.getElementById(`form${counter}`)
    input.value = parseInt(input.value) - 1
    input.onchange()
}

function increase(counter){

    input = document.getElementById(`form${counter}`)
    input.value = parseInt(input.value) + 1
    input.onchange()
}

</script>

{% endblock %}