{% extends 'users/users.html' %}
{% load static %}


{% block content %}

<style>
    a{
        text-decoration: none;
    }
</style>

<div class="row" style="margin :1%;">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <h3 class="py-1">
                    <strong style="color:black; font-weight: 400;">Managers</strong>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <section style=" border-radius: 15px;">
                    <div class="row" style="padding: 2%;">
                        <div class="col-lg-3" style="text-align: center;">
                            <a href="/products/{{ product.id }}/details?user_id={{ user.id }}"
                                class="text-reset anchortag">
                                <div class="card product-card zoom"
                                    style="margin: 3%; border-radius: 20px; margin-bottom: 20px;">
                                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                        data-mdb-ripple-color="light">
                                        <img src="{{ variant.image.url }}"
                                            style="height: 150px; width: 150px; object-fit: contain; padding: 3%; margin-top: 6%; mix-blend-mode: darken; " />
                                    </div>
                                    <div class="card-body" style="color: #443e3e; font-size: 14px;">
                                        <h5 class="card-title mb-3" style="color:black; font-weight: 400;">Ranjeet Sir</h5>
                                        <p>Seniour Software Engineer</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3" style="text-align: center;">
                            <a href="/products/{{ product.id }}/details?user_id={{ user.id }}"
                                class="text-reset anchortag">
                                <div class="card product-card zoom"
                                    style="margin: 3%; border-radius: 20px; margin-bottom: 20px;">
                                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                        data-mdb-ripple-color="light">
                                        <img src="{{ variant.image.url }}"
                                            style="height: 150px; width: 150px; object-fit: contain; padding: 3%; margin-top: 6%; mix-blend-mode: darken; " />
                                    </div>
                                    <div class="card-body" style="color: #443e3e; font-size: 14px;">
                                        <h5 class="card-title mb-3" style="color:black; font-weight: 400;">Nishant Sir</h5>
                                        <p>Software Engineer</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3" style="text-align: center;">
                            <a href="/products/{{ product.id }}/details?user_id={{ user.id }}"
                                class="text-reset anchortag">
                                <div class="card product-card zoom"
                                    style="margin: 3%; border-radius: 20px; margin-bottom: 20px;">
                                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                        data-mdb-ripple-color="light">
                                        <img src="{{ variant.image.url }}"
                                            style="height: 150px; width: 150px; object-fit: contain; padding: 3%; margin-top: 6%; mix-blend-mode: darken; " />
                                    </div>
                                    <div class="card-body" style="color: #443e3e; font-size: 14px;">
                                        <h5 class="card-title mb-3" style="color:black; font-weight: 400;">Ritesh Sir</h5>
                                        <p>Associate Software Engineer</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3" style="text-align: center;">
                            <a href="/products/{{ product.id }}/details?user_id={{ user.id }}"
                                class="text-reset anchortag">
                                <div class="card product-card zoom"
                                    style="margin: 3%; border-radius: 20px; margin-bottom: 20px;">
                                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                        data-mdb-ripple-color="light">
                                        <img src="{{ variant.image.url }}"
                                            style="height: 150px; width: 150px; object-fit: contain; padding: 3%; margin-top: 6%; mix-blend-mode: darken; " />
                                    </div>
                                    <div class="card-body" style="color: #443e3e; font-size: 14px;">
                                        <h5 class="card-title mb-3" style="color:black; font-weight: 400;">Ajay Sihag</h5>
                                        <p>Intern</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>

{% endblock %}