{% extends 'base/sidebar.html' %}

{% block content %}

<style>
.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}
.form-control{
    padding: 1%;
}
</style>

<div class="row box-shadow" style="margin: 2% 7% 4% 7%; padding: 1%; background-color: aliceblue;">
    <div class="col">
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb" style="margin: 0px;">
                <li class="breadcrumb-item"><a href="/users/profile" style="text-decoration: none;">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Address</li>
            </ol>
        </nav>
    </div>
</div>


<div class="row " style="margin-top: 2%; color: black;">
    <div class="col-sm-10 offset-sm-1 box-shadow" style="border-radius: 12px; background-color: aliceblue;">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row" style="margin-top:1%; padding-left: 2%; padding-right: 2%; margin-bottom: 2%;">
                <div class="col" style="text-align: center;">
                    <h4 style="color: green;">Add Address</h4>
                </div>
            </div>
            <div class="row" style=" padding-left: 2%; padding-right: 2%;">
                <div class="col-sm-12">
                    <div>
                        <label for="address">Write Your Address in details :</label>
                    </div>
                    <div>
                        <textarea class="form-control" name="address" id="address" rows="3" required></textarea>
                    </div>
                </div>
                <input type="hidden" value="{{ user.id }}" name="user">
            </div>
            <div class="row" style="margin-top:2%; margin-bottom: 2%;">
                <div class="col" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}