{% extends 'users/users.html' %}

{% block content %}

<style>
.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}
.form-control{
    padding: 1%;
}
</style>


<div class="row " style="margin-top: 4%; color: black;">
    <div class="col-sm-8 offset-sm-2 box-shadow" style="border-radius: 12px; font-size: 18px; font-weight: 400;">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row" style="margin-top:1%; padding-left: 2%; padding-right: 2%; margin-bottom: 2%;">
                <div class="col" style="text-align: center;">
                    <h4 style="color: rgb(14, 139, 241);">Add Address</h4>
                </div>
            </div>
            <div class="row" style=" padding-left: 2%; padding-right: 2%;">
                <div class="col-sm-4">
                    <div><label for="house_no">House No.</label></div>
                    <div><input type="text" class="form-control" name="house_no" id="house_no" required></div>
                </div>
                <div class="col-sm-4">
                    <div><label for="street">Street</label></div>
                    <div><input type="text" class="form-control" name="street" id="street"  required></div>
                </div>
                <div class="col-sm-4" >
                    <div><label for="city">City</label></div>
                    <div><input type="text" class="form-control" name="city" id="city" required></div>
                </div>
            </div>
            <div class="row" style="margin-top:1%; padding-left: 2%; padding-right: 2%;">
                <div class="col-sm-4">
                    <div><label for="state">State</label></div>
                    <div><input type="text" class="form-control" name="state" id="state" required></div>
                </div>
                <div class="col-sm-4">
                    <div><label for="postal_code">Postal Code</label></div>
                    <div><input type="text" class="form-control" name="postal_code" id="postal_code" required></div>
                </div>
                <input type="hidden" value="{{ user.id }}" name="user">
            </div>
            <div class="row" style="margin-top:2%; margin-bottom: 2%;">
                <div class="col" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}