{% extends 'base/sidebar.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<style>
.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    margin: 1% 6% 1% 5%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    color: black;
    font-size: 14px;
}

.card:hover{
    background-color: aliceblue;
}

.card-body{
    text-align: center;
}

p{
    margin-top: 4%;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: rgb(39, 224, 39);
}
.btn-primary{
    font-size: 14px;
    padding: 5px 15px 5px 15px;
}
.dash-icon{
    color: #1c9ba1;
}
.card-col{
    margin-top: 25px;
}
</style>

<div class="row p-2 box-shadow rowclass" style="margin-top: 3%;" >
    <div class="col-sm-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin: 0px; padding-top: 4px;">
          <a href="/dashboard" style="text-decoration: none;">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </a>
        </ol>
      </nav>
    </div>
</div>

<div class="row" style="margin: 2% 5% 2% 5%;">
    <div class="col-sm-4 card-col">
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: 400;">Products  <i class='bx bxs-data dash-icon'></i></h5>
                <p>Total : {{ products }}</p>
                <p style="margin-bottom: 0;"><a href="/products/">
                    <button type="button" class="btn btn-primary">View</button>
                </a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-col">
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: 400;">Brands <i class='bx bxs-category dash-icon' ></i></h5>
                <p>Total : {{ brands }}</p>
                <p style="margin-bottom: 0;"><a href="/products/brands">
                    <button type="button" class="btn btn-primary">View</button>
                </a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-col">
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: 400;">Categories <i class='bx bx-category dash-icon' ></i></h5>
                <p>Total : {{ categories }}</p>
                <p style="margin-bottom: 0;"><a href="/products/categories">
                    <button type="button" class="btn btn-primary">View</button>
                </a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-col">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <h5 style="font-weight: 400;">Orders <i class='bx bx-sitemap dash-icon' ></i></h5>
                    <p>Total : {{ orders }}</p>
                    <p style="margin-bottom: 0;"><a href="/cart/orders">
                        <button type="button" class="btn btn-primary">View</button>
                    </a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-col">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <h5 style="font-weight: 400;">Properties <i class='bx bx-sitemap dash-icon' ></i></h5>
                    <p>Total : {{ properties }}</p>
                    <p style="margin-bottom: 0;"><a href="/products/properties">
                        <button type="button" class="btn btn-primary">View</button>
                    </a></p>
                </div>
            </div>
        </div>
    </div>
    
</div>



{% endblock %}