{% extends 'users/users.html' %}
{% load static %}


{% block style %}
<style>
  .homepage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
    border-radius: 20px;
  }

  .carousel-caption {
    background-color: #0000007d;
    border-radius: 10px;
  }

  .anchortag {
    text-decoration: none;
    color: rgb(41, 36, 36);
  }

  .category-items {
    height: 200px;
    margin-right: 0;
    flex: 0 0 16.666%;
    display: block;
  }

  .zoom{
    transition: transform 0.6s;
  }
  .zoom:hover {
    cursor: pointer;
    transform: scale(1.2); 
    z-index: 1;
  }

  .category-card:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }

  .carousel-control-next {
    z-index: 0;
    width: 5%;
  }

  .carousel-control-prev {
    z-index: 0;
    width: 5%;
  }
  .carousel-control-next-category {
    z-index: 0;
    width: 2%;
  }

  .carousel-control-prev-category {
    z-index: 0;
    width: 2%;
  }
</style>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<div class="row">
  <div class="col-sm-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul> -->
      <div class="carousel-inner">
        <div class="carousel-item active" style="text-align: center;">
          <!-- <img src="{{ first_product.image.url }}" alt="Image 1" style="height: 300px;"> -->
          <img src="/static/images/smartphone banner.jpg" alt="Image 1" style="width: 100%; height: 350px;">
          <!-- <div class="carousel-caption">
                            <a href="/products/{{ first_product.id }}/details?user_id={{ user.id }}" style="text-decoration: none; color: white;">
                              <h3>{{ first_product.name }}</h3>
                            </a>
                          </div> -->
        </div>
        <div class="carousel-item" style="text-align: center;">
          <img src="/static/images/watch banner.jpg" style="width: 100%; height: 350px;">
        </div>
        <div class="carousel-item" style="text-align: center;">
          <img src="/static/images/fashion banner.jpg" style="width: 100%; height: 350px;">
        </div>
        <div class="carousel-item" style="text-align: center;">
          <img src="/static/images/grooming banner.jpg" style="width: 100%; height: 350px;">
        </div>
        {% for product in products %}
        <!-- <div class="carousel-item" style="text-align: center;">
                          <img src="{{ product.image.url }}" height="30%" style="height: 300px;">
                          <div class="carousel-caption">
                            <a href="/products/{{ product.id }}/details?user_id={{ user.id }}" style="text-decoration: none; color: white;">
                              <h3>{{ product.name }}</h3>
                            </a>
                          </div>
                      </div>   -->
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon" style="filter: invert();"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon" style="filter: invert();"></span>
      </a>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </div>
</div>


<div class="row" style="margin: 1%;">
  <div class="col-sm-12 " style="padding: 0;">
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <h3 class="py-1" style="color:#443e3e"><strong>Categories</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" >
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="background-color: #eee; border-radius: 15px; padding: 20px;">
          <div class="carousel-inner carousel-inner-category" style="display: flex;">
            {% for category in categories %}
            <div class="carousel-item category-items carousel-item-category" >
              <a href="/products/categories/{{ category.name }}?user_id={{ user.id }}"
                class="d-flex flex-column align-items-center category-card zoom" style="text-decoration: none;">
                <img src="{{ category.image.url }}"
                  style="height: 170px; width: 170px; object-fit: contain; background-color: white; mix-blend-mode: darken;"
                  alt="...">
                <strong style="color:var(--yellow) ;color: #443e3e;
              font-size: 21px;">{{category.name}}</strong>
              </a>
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev carousel-control-prev-category" type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert();"></span>
          </button>
          <button class="carousel-control-next carousel-control-next-category" type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert();"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 4% 5% 1% 5%;">
  <img src="/static/images/deall.jpg">
  <div>Today' Deal</div>
</div>

<div class="row" style="margin :1%;">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <h3 class="py-1" style="color:#443e3e"><strong>Products</strong></h3>
      </div>
    </div>
    <div class="row" >
      <div class="col-sm-12" >
        <section style="background-color: #eee; border-radius: 15px;">
            <div class="row" style="padding: 2%;">
              {% for product in products %}
              {% for variant in product_variants %}
              {% if variant.product.id == product.id %}
              <div class="col-lg-2" style="text-align: center;">
                <a href="/products/{{ product.id }}/details?user_id={{ user.id }}" class="text-reset anchortag">
                  <div class="card product-card zoom" style="margin: 3%;">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="{{ variant.image.url }}"
                        style="height: 150px; width: 150px; object-fit: contain; padding: 3%; margin-top: 6%; mix-blend-mode: darken; " />
                    </div>
                    <div class="card-body" style="color: #443e3e; font-size: 14px;">
                      <h5 class="card-title mb-3" style="color:#3e3b3b">{{ product.name }}</h5>
                      <p>Rs. {{ variant.price }}</p>
                      <div style="color:#3e3b3b">4.6/5 (223)</div>
                      <div class="stars">
                        <i class="bi bi-star-fill" style="color: rgb(21, 194, 21)"></i>
                        <i class="bi bi-star-fill" style="color: rgb(21, 194, 21)"></i>
                        <i class="bi bi-star-fill" style="color: rgb(21, 194, 21)"></i>
                        <i class="bi bi-star-fill" style="color: rgb(21, 194, 21)"></i>
                        <i class="bi bi-star-half" style="color: rgb(21, 194, 21)"></i>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </div>
        </section>
      </div>
    </div>
    
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <footer class="text-center text-white" style="background-color: #2e3032">
      <div class="container">
        <section class="mt-5">
          <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">About us</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">Products</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">Awards</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">Help</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">Contact</a>
              </h6>
            </div>
          </div>
        </section>
        <hr class="my-5" />

        <section class="text-center mb-3">
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-google"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-github"></i>
          </a>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgb(0 0 0 / 20%)">
        © 2023 Copyright:
        <a class="text-white anchortag" href="#">expressShop.com</a>
      </div>
    </footer>
  </div>
</div>


<script>

  var carouselWidth = $(".carousel-inner-category")[0].scrollWidth;
  var cardWidth = $(".carousel-item-category").width();
  var scrollPosition = 0;
  $(".carousel-control-next-category").on("click", function () {
    console.log('hello', carouselWidth, cardWidth)
    if (scrollPosition < (carouselWidth - cardWidth * 4)) { //check if you can go any further
      scrollPosition += cardWidth;  //update scroll position
      jQuery(".carousel-inner-category").animate({ scrollLeft: scrollPosition }, 600); //scroll left
    }
  });
  $(".carousel-control-prev-category").on("click", function () {
    console.log('hello')
    if (scrollPosition > 0) {
      scrollPosition -= cardWidth;
      jQuery(".carousel-inner-category").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
  var multipleCardCarousel = document.querySelector(
    "#carouselExampleControls"
  );
  if (window.matchMedia("(min-width: 768px)").matches) {
    //rest of the code
    var carousel = new bootstrap.Carousel(multipleCardCarousel, {
      interval: 1000
    });
  } else {
    $(multipleCardCarousel).addClass("slide");
  }

</script>

{% else %}

<div class="row">
  <div class="col-sm-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="text-align: center;">
          <img src="/static/images/smartphone banner.jpg" alt="Image 1" style="width: 100%; height: 350px;">
        </div>
        <div class="carousel-item" style="text-align: center;">
          <img src="/static/images/watch banner.jpg" style="width: 100%; height: 350px;">
        </div>
        <div class="carousel-item" style="text-align: center;">
          <img src="/static/images/fashion banner.jpg" style="width: 100%; height: 350px;">
        </div>
        <div class="carousel-item" style="text-align: center;">
          <img src="/static/images/grooming banner.jpg" style="width: 100%; height: 350px;">
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon" style="filter: invert();"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon" style="filter: invert();"></span>
      </a>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </div>
</div>


<div class="row" style="margin: 1%;">
  <div class="col-sm-12 " style="padding: 0;">
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <h3 class="py-1" style="color:#443e3e"><strong>Categories</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" >
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="background-color: #eee; border-radius: 15px; padding: 20px;">
          <div class="carousel-inner carousel-inner-category" style="display: flex;">
            {% for category in categories %}
            <div class="carousel-item category-items carousel-item-category" >
              <a href="/products/categories/{{ category.name }}?user_id={{ user.id }}"
                class="d-flex flex-column align-items-center category-card" style="text-decoration: none;">
                <img src="{{ category.image.url }}"
                  style="height: 170px; width: 170px; object-fit: contain; background-color: white; mix-blend-mode: darken;"
                  alt="...">
                <strong style="color:var(--yellow) ;color: #443e3e;
              font-size: 21px;">{{category.name}}</strong>
              </a>
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev carousel-control-prev-category" type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert();"></span>
          </button>
          <button class="carousel-control-next carousel-control-next-category" type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert();"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="row" style="margin: 4% 5% 1% 5%;">
  <img src="/static/images/deall.jpg">
  <div>Today' Deal</div>
</div>

<div class="row" style="margin :1%;">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <h3 class="py-1" style="color:#443e3e"><strong>Products</strong></h3>
      </div>
    </div>
    <div class="row" >
      <div class="col-sm-12" >
        <section style="background-color: #eee; border-radius: 15px;">
            <div class="row" style="padding: 2%;">
              {% for product in products %}
              {% for variant in product_variants %}
              {% if variant.product.id == product.id %}
              <div class="col-lg-2" style="text-align: center;">
                <a href="/products/{{ product.id }}/details?user_id={{ user.id }}" class="text-reset anchortag">
                  <div class="card product-card" style="margin: 3%;">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="{{ variant.image.url }}"
                        style="height: 150px; width: 150px; object-fit: contain; padding: 3%; margin-top: 6%; mix-blend-mode: darken; " />
                    </div>
                    <div class="card-body" style="color: #443e3e; font-size: 14px;">
                      <h5 class="card-title mb-3" style="color:#3e3b3b">{{ product.name }}</h5>
                      <p>Rs. {{ variant.price }}</p>
                      <div style="color:#3e3b3b">4.6/5 (223)</div>
                      <div class="stars">
                        <i class="bi bi-star-fill" style="color: rgb(21, 194, 21)"></i>
                        <i class="bi bi-star-fill" style="color: rgb(21, 194, 21)"></i>
                        <i class="bi bi-star-fill" style="color: rgb(21, 194, 21)"></i>
                        <i class="bi bi-star-fill" style="color: rgb(21, 194, 21)"></i>
                        <i class="bi bi-star-half" style="color: rgb(21, 194, 21)"></i>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </div>
        </section>
      </div>
    </div>
    
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <footer class="text-center text-white" style="background-color: #2e3032">
      <div class="container">
        <section class="mt-5">
          <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">About us</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">Products</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">Awards</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">Help</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white anchortag">Contact</a>
              </h6>
            </div>
          </div>
        </section>
        <hr class="my-5" />

        <section class="text-center mb-3">
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-google"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="#" class="text-white me-4 anchortag">
            <i class="bi bi-github"></i>
          </a>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgb(0 0 0 / 20%)">
        © 2023 Copyright:
        <a class="text-white anchortag" href="#">expressShop.com</a>
      </div>
    </footer>
  </div>
</div>

<script>

  var carouselWidth = $(".carousel-inner-category")[0].scrollWidth;
  var cardWidth = $(".carousel-item-category").width();
  var scrollPosition = 0;
  $(".carousel-control-next-category").on("click", function () {
    console.log('hello', carouselWidth, cardWidth)
    if (scrollPosition < (carouselWidth - cardWidth * 4)) {
      scrollPosition += cardWidth;
      jQuery(".carousel-inner-category").animate({ scrollLeft: scrollPosition }, 600);
    }
  });
  $(".carousel-control-prev-category").on("click", function () {
    console.log('hello')
    if (scrollPosition > 0) {
      scrollPosition -= cardWidth;
      jQuery(".carousel-inner-category").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
  var multipleCardCarousel = document.querySelector(
    "#carouselExampleControls"
  );
  if (window.matchMedia("(min-width: 768px)").matches) {
    var carousel = new bootstrap.Carousel(multipleCardCarousel, {
      interval: 1000
    });
  } else {
    $(multipleCardCarousel).addClass("slide");
  }

</script>

{% endif %}
{% endblock %}
