{% extends 'base/base.html' %}]

{% block body %}

<style>
  #forgotPassword{
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
  .loginForm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(90deg, rgba(98,98,98,1) 0%, rgba(235,238,241,1) 0%, rgba(212,227,242,1) 0%, rgba(127,172,218,1) 40%, rgba(62,145,232,1) 100%, rgba(0,82,167,1) 100%);
    border-radius: 20px;
  }
  .button{
    background-color: white;
    color: #684242;
  }


  .form-control-lg {
    min-height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 2));
    font-size: 1rem;
    border-radius: var(--bs-border-radius-lg);
}
</style>

<div class="row" style="text-align: center; margin-top: 5%;">
  <div class="col-sm-4 offset-sm-4 loginForm">
    <div class="card-body py-3 px-md-5" style="font-size: 20px;">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12">
          <form action="" method="post">
            {% csrf_token %}
            <div class="card-body">
              <p class="fw-bold mb-3" style="color: white;">Enter New Password</p>
              <div class="form-outline mb-4">
                <input type="password" id="typeEmailX-2" class="form-control form-control-lg" name="password1" placeholder="Password" required/>
              </div>
              <div class="form-outline mb-4">
                <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="password2" placeholder="Confirm Password" required/>
              </div>
              {% if message %}
              <p style="color: rgb(255, 255, 255); padding-bottom: 5%;">{{ message }}</p>
              {% endif %}
              <button class="btn btn-primary btn-lg btn-block button" style="padding: 4px 8px 4px 8px; font-size: 15px;" type="submit">Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}