{% extends 'base/base.html' %}

{% block body %}

<style>
  #gstNumber{
    display: none;
  }
  .loginForm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: cornflowerblue;
    border-radius: 30px;
  }
  .button{
    background-color: white;
    color: #684242;
  }
</style>

<div class="row" style="text-align: center; margin-top: 5%;">
  <div class="col-sm-6 offset-sm-3 loginForm">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-11">
          <h2 class="fw-bold mb-5" style="color: white;">SignUp</h2>
          <h4 style="color: white; margin-bottom: 2%;">{{ success }}</h4>
          <form action="" method="post">

            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-4">
                  <input type="text" id="form3Example1" class="form-control" name="first_name" placeholder="First Name" required value = {{ first_name }} >
              </div>
              <div class="col-md-6 mb-4">
                  <input type="text" id="form3Example2" class="form-control" name="last_name" placeholder="Last Name" required value = {{ last_name }} >
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                {% for key,value in errors.items %}
                {% if key == "email" %}
                <h5 style="color:white; padding-top: 2%;">{{  value.0 }}</h5>
                {% endif %}
                {% endfor %}
                  <input type="email" id="form3Example3" class="form-control" name="email" placeholder="Email" required value = {{ email }} >
              </div>
              <div class="col-md-6 mb-4">
                  <input type="password" id="form3Example4" class="form-control" name="password" placeholder="Password" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-4">
                  <input type="text" id="form3Example3" class="form-control" name="city" placeholder="City" required value = {{ profile.city }} >
              </div>
              <div class="col-md-4 mb-4">
                  <input type="text" id="form3Example4" class="form-control" name="state" placeholder="State" required value = {{ profile.state }} >
              </div>
              <div class="col-md-4 mb-4">
                  <input type="text" id="form3Example4" class="form-control" name="pincode" placeholder="Pincode" required value = {{ profile.pincode }} >
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-4">
                  <input type="text" id="form3Example4" class="form-control" name="address_line_1" placeholder="Address" required value = {{ profile.address_line_1 }} >
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-4">
                <input type="tel" id="form3Example4" class="form-control" name="contact" placeholder="Number" required value = {{ profile.contact }} >
              </div>
              <div class="col-md-4 mb-4">
                {% for key,value in errors.items %}
                {% if key == "role" %}
                <h5 style="color:white; padding-top: 2%;">{{  value.0 }}</h5>
                {% endif %}
                {% endfor %}
                <select class="form-select" id="selectbox" aria-label="Default select example" name="role" onclick="invoice()" required >
                  <option selected>---</option>
                  <option value="1" >Buyer</option>
                  <option value="2" >Seller</option>
                </select>
              </div>
              <div class="col-md-4 mb-4" id="gstNumber">
                <input type="text"  class="form-control" name="GST Number" placeholder="GST Number"/>
              </div>
            </div>
            <button class="btn btn-primary btn-block mb-4 button ">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  function invoice(){
    console.log('hi')
    var select = document.getElementById("selectbox")
    var gst = document.getElementById("gstNumber")

    if (select.value == 2){
      gst.style.display = 'block';
    }
    else{
      gst.style.display = 'none';
    }
  }

</script>

<!-- <section class="text-center">
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
  <div class="row">
    <div class="col-md-8 mb-4 offset-md-2">
      <div class="card mx-4 mx-md-5 shadow-5-strong" style="
            margin-top: -100px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);
            ">
        <div class="card-body py-5 px-md-5">

          <div class="row d-flex justify-content-center">
            <div class="col-lg-11">
              <h2 class="fw-bold mb-5">SignUp</h2>
              <h4 style="color: red;">{{ success }}</h4>
              <form action="" method="post">

                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 mb-4">
                      <input type="text" id="form3Example1" class="form-control" name="first_name" placeholder="First Name" required value = {{ first_name }} >
                  </div>
                  <div class="col-md-6 mb-4">
                      <input type="text" id="form3Example2" class="form-control" name="last_name" placeholder="Last Name" required value = {{ last_name }} >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    {% for key,value in errors.items %}
                    {% if key == "email" %}
                    <h5 style="color: red; padding-top: 2%;">{{  value.0 }}</h5>
                    {% endif %}
                    {% endfor %}
                      <input type="email" id="form3Example3" class="form-control" name="email" placeholder="Email" required value = {{ email }} >
                  </div>
                  <div class="col-md-6 mb-4">
                      <input type="password" id="form3Example4" class="form-control" name="password" placeholder="Password" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-4">
                      <input type="text" id="form3Example3" class="form-control" name="city" placeholder="City" required value = {{ profile.city }} >
                  </div>
                  <div class="col-md-4 mb-4">
                      <input type="text" id="form3Example4" class="form-control" name="state" placeholder="State" required value = {{ profile.state }} >
                  </div>
                  <div class="col-md-4 mb-4">
                      <input type="text" id="form3Example4" class="form-control" name="pincode" placeholder="Pincode" required value = {{ profile.pincode }} >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-4">
                      <input type="text" id="form3Example4" class="form-control" name="address_line_1" placeholder="Address" required value = {{ profile.address_line_1 }} >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-4">
                    <input type="tel" id="form3Example4" class="form-control" name="contact" placeholder="Number" required value = {{ profile.contact }} >
                  </div>
                  <div class="col-md-4 mb-4">
                    {% for key,value in errors.items %}
                    {% if key == "role" %}
                    <h5 style="color: red; padding-top: 2%;">{{  value.0 }}</h5>
                    {% endif %}
                    {% endfor %}
                    <select class="form-select" id="selectbox" aria-label="Default select example" name="role" onclick="invoice()" required >
                      <option selected>---</option>
                      <option value="1" >Buyer</option>
                      <option value="2" >Seller</option>
                    </select>
                  </div>
                  <div class="col-md-4 mb-4" id="gstNumber">
                    <input type="text"  class="form-control" name="GST Number" placeholder="GST Number"/>
                  </div>
                </div>
                <button class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>

  function invoice(){

    console.log('hi')
    var select = document.getElementById("selectbox")
    var gst = document.getElementById("gstNumber")

    if (select.value == 2){
      gst.style.display = 'block';

    }
    else{
      gst.style.display = 'none';
    }
    
    
       

  }

</script> -->

    
{% endblock %}