{% extends 'base/sidebar.html' %}

{% block content %}

<style>
.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}
.form-control{
    padding: 1%;
}
</style>

<div class="row box-shadow" style="margin: 2% 7% 4% 7%; padding: 1%; background-color: aliceblue;">
    <div class="col">
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb" style="margin: 0px;">
                <li class="breadcrumb-item"><a href="/users/profile" style="text-decoration: none;">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Address</li>
            </ol>
        </nav>
    </div>
</div>


<div class="row " style="margin-top: 2%; color: black;">
    <div class="col-sm-10 offset-sm-1 box-shadow" style="border-radius: 12px; background-color: aliceblue;">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row" style="margin-top:1%; padding-left: 2%; padding-right: 2%; margin-bottom: 2%;">
                <div class="col" style="text-align: center;">
                    <h4 style="color: green;">Update Address</h4>
                </div>
            </div>
            <div class="row" style=" padding-left: 2%; padding-right: 2%;">
                <div class="col-sm-4">
                    <div><label for="house_no">House No.</label></div>
                    <div><input type="text" class="form-control" name="house_no" id="house_no" value="{{ address.house_no }}" required></div>
                </div>
                <div class="col-sm-4">
                    <div><label for="street">Street</label></div>
                    <div><input type="text" class="form-control" name="street" id="street" value="{{ address.street }}" required></div>
                </div>
                <div class="col-sm-4" >
                    <div><label for="city">City</label></div>
                    <div><input type="text" class="form-control" name="city" id="city" value="{{ address.city }}" required></div>
                </div>
            </div>
            <div class="row" style="margin-top:1%; padding-left: 2%; padding-right: 2%;">
                <div class="col-sm-4">
                    <div><label for="state">State</label></div>
                    <div><input type="text" class="form-control" name="state" id="state" value="{{ address.state }}" required></div>
                </div>
                <div class="col-sm-4">
                    <div><label for="postal_code">Postal Code</label></div>
                    <div><input type="text" class="form-control" name="postal_code" id="postal_code" value="{{ address.postal_code }}" required></div>
                </div>
                <input type="hidden" value="{{ address.id }}" name="address_id">
                <input type="hidden" value="{{ user.id }}" name="user">
            </div>
            <div class="row" style="margin-top:2%; margin-bottom: 2%;">
                <div class="col" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}